<footer class="bg-primary text-white">
        <div class="container-fluid">
          <div class="row">
            <div class="col-3 footer-col-1">
              <div class="footer-icon">
                <h1>FOOTER ICON</h1>
              </div>
            </div>
            <div class="col-3 footer-col-2">
              <h5>PAGIANS</h5>
              <ul class="p-0">
                <li>Servicios Online</li>
                <li>Nuestros Servicios</li>
                <li>Quienes Somos</li>
              </ul>
            </div>
            <div class="col-3 footer-col-3">
                <h5>INFORMACION</h5>
                <ul class="p-0">
                  <li>Aviso Legal</li>
                  <li>Contrato de Servicios</li>
                  <li>Politicia de Privacidad</li>
                </ul>
            </div>
            <div class="col-3 footer-col-4">
                <h5>SIGUENOS</h5>
                <ul class="p-0">
                  <li><a href="javscript:void(0);">facebook</a></li>
                  <li><a href="javscript:void(0);">Instagram</a></li>
                </ul>
                <div class="footer-bottom">
                  <p>powered by <strong>drivelop</strong></p>
                </div>
            </div>
          </div>
        </div>
      </footer>
