.top_footer{
  background-color: #195073;
  margin-top: 60px;
}
.top_footer h4.title {
  font-family: 'Source Sans Pro',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4em;
  color: #fff !important;
  padding-left: 13px;
}
div#media_image-2 img{
  width: 102px;
}
.footer-widget {
  font-size: 16px;
}

a.icon.et_pb_with_border {
  background-color: #3b5998!important;
  border-radius: 50% !important;
}
.et-social-instagram a.icon.et_pb_with_border {
  background-color: #ea2c59!important;
}
