:host{
  display: block;
  background-color:#fff;
  main {
    position: relative;
  }
  #leftSection{
    width: 160px;
    background-color: #23282D;
  }
  #rightSection {
    width: calc(100vw - 160px);
    background-color: #F1F1F1;
    .lead {
      font-size: 1.125em;
      color: #636363;
    }
  }
}
