:host{
  display: block;
  #cntr {
    max-height: 140px;
  }
  .table {
    tbody {
      tr:hover {
        border: 1px solid #F3F3F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
      }
    }
    .w-40{
      width: 40%;
    }
    .w-20{
      width: 20%;
    }
    .d-flex, .d-flex span{
      word-break: break-all;
    }
  }

  .table th,
  .table td {
    border: none;
    color: #949494;
  }

  .table th {
    font-weight: normal;
  }

  .table td {
    border: 1px solid transparent;
    .dropdown-menu {
        .dropdown-item {
          color: #949494;
          font-size: 1.125rem;
          svg {
            padding-right: .5rem;
            width: 1.5rem;
          }
        }
    }
  }

  td svg {
    padding-left: 1px;
  }
  .tdEllipsisIcon{
    .dropdown-toggle {
      &:after{
        display: none;
      }
    }
  }
}
