
<section>

  <app-loader-small [status]="gettingfileInProgress$ | async"></app-loader-small>

  <ng-container *ngIf="fileList && fileList.length === 0 && !(gettingfileInProgress$ | async)">
    <p class="lead">No Files Found. Try upload file.</p>
  </ng-container>



  <table class="table" *ngIf="fileList && fileList.length > 0">
    <thead>
      <tr>
        <th scope="col">File Name</th>
        <th scope="col">Date Uploaded</th>
        <th scope="col">Notes</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of fileList | myFilter : 'name' : searchString">
        <td>
          <span class="pr-3"><svg width="32" height="31" viewBox="0 0 32 31" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <rect width="32" height="31" rx="2" fill="#005073" />
              <rect x="8" y="10" width="16" height="1" rx="0.5" fill="white" />
              <rect x="8" y="13" width="16" height="1" rx="0.5" fill="white" />
              <rect x="8" y="16" width="16" height="1" rx="0.5" fill="white" />
              <rect x="8" y="19" width="8" height="1" rx="0.5" fill="white" />
            </svg></span>
          {{item.displayName}}
        </td>
        <td>{{item.lastModified | date}}</td>
        <td>
          <ng-container *ngIf="!item.note">-</ng-container>
          <ng-container *ngIf="item.note">
            <div class="cp" (click)="openNotesModal(item)">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4231 0C14.859 0 15.2308 0.153845 15.5385 0.461538C15.8462 0.769232 16 1.14102 16 1.57692V11.1923C16 11.6282 15.8462 12.0064 15.5385 12.3269C15.2308 12.6474 14.859 12.8077 14.4231 12.8077H3.19231L0 16V1.57692C0 1.14102 0.153845 0.769232 0.461538 0.461538C0.769232 0.153845 1.14102 0 1.57692 0H14.4231Z" fill="#005073"/>
              </svg>
            </div>
          </ng-container>
        </td>
        <td>
          <div ngbDropdown class="tdEllipsisIcon" placement="top-right">
            <span ngbDropdownToggle>
              <svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="4" cy="3.5" rx="4" ry="3.5" fill="#C4C4C4" />
              </svg><svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="4" cy="3.5" rx="4" ry="3.5" fill="#C4C4C4" />
              </svg><svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="4" cy="3.5" rx="4" ry="3.5" fill="#C4C4C4" />
              </svg>
            </span>
            <div ngbDropdownMenu>
              <button ngbDropdownItem (click)="downloadFile(item)"><span class="drop-icon">
                <svg width="12" height="15" viewBox="0 0 12 15"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M-1.09278e-06 12.5L11.64 12.5L11.64 14.18L-1.23965e-06 14.18L-1.09278e-06 12.5ZM8.32 7.27357e-07L8.32 5L11.64 5L5.82 10.82L-4.37114e-07 5L3.32 5L3.32 2.90244e-07L8.32 7.27357e-07Z"
                      fill="#C4C4C4" />
                  </svg></span>Download</button>
              <button ngbDropdownItem (click)="deleteFile(item)">
                <span class="drop-icon">
                  <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M11.125 0.75V2.5H16.375V4.25H0.625V2.5H5.875V0.75H11.125ZM2.375 15.625C2.375 16.5901 3.15987 17.375 4.125 17.375H12.875C13.8401 17.375 14.625 16.5901 14.625 15.625V5.125H2.375V15.625ZM4.125 6.875H12.875L12.8759 15.625H4.125V6.875ZM5.875 8.625H7.625V13.875H5.875V8.625ZM11.125 8.625H9.375V13.875H11.125V8.625Z"
                      fill="#C4C4C4" />
                  </svg>
                </span>Delete
              </button>
              <button *ngIf="showMoveOption" ngbDropdownItem (click)="moveFile(item, moveFileModalTemp)">
                <span class="drop-icon">
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none"  xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M-1.43051e-05 7.49999L-1.43051e-05 5.85999L10.16 5.85999L5.49999 1.17999L6.67999 -1.43051e-05L13.36 6.67999L6.67999 13.36L5.49999 12.18L10.16 7.49999L-1.43051e-05 7.49999Z" fill="#C4C4C4"/>
                  </svg>
                </span>Move
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>


<!-- move file template -->
<ng-template #moveFileModalTemp let-modal>
  <div class="modal-header bg-primary text-white">
    <p class="modal-title" id="modal-primary-title">Move This File</p>
    <button type="button" class="close text-white" aria-label="Close" (click)="dismissMoveFileModal('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pt-4 pl-4 pr-4 pb-3">
    <p class="mb-1">Folder Name <sup class="text-danger"> *</sup></p>
    <p class="mb-4 .text-white-50">{{selectedItemToMove.displayName}}</p>
    <p class="mb-1">Select Folder</p>
    <section ngbDropdown>
      <div ngbDropdownToggle class="folderOption my-2 d-flex align-items-center ">
        <button class="mr-3">
          <svg width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.119629 2.15197H0.949674V8.17824H6.86121V9.02439H0.949674C0.720229 9.02439 0.52453 8.94184 0.362569 8.77674C0.200608 8.61163 0.119629 8.41214 0.119629 8.17824V2.15197ZM3.91557 4.73171L2.65025 6.44465H7.7115L6.01092 4.30863L4.76586 5.89775L3.91557 4.73171ZM8.54155 6.44465C8.54155 6.67855 8.46057 6.88149 8.29861 7.05347C8.13665 7.22546 7.94095 7.31145 7.7115 7.31145H2.65025C2.42081 7.31145 2.22174 7.22546 2.05303 7.05347C1.88432 6.88149 1.79996 6.67855 1.79996 6.44465V1.28518C1.79996 1.05128 1.88432 0.851785 2.05303 0.686681C2.22174 0.521577 2.42081 0.439026 2.65025 0.439026H7.7115C7.94095 0.439026 8.13665 0.521577 8.29861 0.686681C8.46057 0.851785 8.54155 1.05128 8.54155 1.28518V6.44465Z" fill="#005073"/>
          </svg>
        </button>
        <p class="mb-0">{{destinationFolder}}</p>
      </div>
      <div ngbDropdownMenu>
        <button (click)="setActiveFolder(name)" ngbDropdownItem *ngFor="let name of folderList">{{name}}</button>
      </div>
    </section>
  </div>
  <div class="modal-footer border-0 text-center justify-content-center">
    <button [disabled]="!destinationFolder || destinationFolder === 'Please Select'" type="button" class="btn btn-primary btn-block"
      (click)="submitMoveFile()">Move Folder</button>
  </div>
</ng-template>
