@import "./variables";

// get common heading
@mixin getLightHeading {
  line-height: 1.3;
  font-size: 1.125rem;
  font-weight: 700;
  color: #777
}

@mixin generateTabStyles() {
  .ul {
    margin: 0;
  }
}

@mixin getCardGutter() {
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

@mixin getCardDimension() {
  width: 14rem;
  height: 6rem;
}

@mixin generateCardBodyStyle() {
  @include getCardDimension();
  padding: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  .btn.btn-light {
    padding: 0 0.55em 0.1em;
  }

  h5 {
    padding-top: 0.5em;
    margin-bottom: 0;
    color: #005073;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
  .downText {
    font-size: 0.625em;
  }
}
