<ng-container *ngIf="loading">
  <p class="lead">{{ 'userOrder.lm' | translate }}</p>
</ng-container>

<ng-container *ngIf="!activateOrderDetailsView && !loading">
  <section class="">
    <ng-container *ngIf="orders && orders.length === 0">
      <div class="orderRequest">
        <ngb-alert [dismissible]="false" [type]="'success'">
          <p class="mb-0">{{ 'userOrder.no' | translate }}</p>
          <button class="btn btn-primary rounded-0">{{ 'btn.gt' | translate }}</button>
        </ngb-alert>
      </div>
    </ng-container>

    <ng-container *ngIf="orders && orders.length > 0">
      <table class="table table-hover">
        <thead class="thead-dark bg-primary">
          <tr>
            <th scope="col">{{ 'table.order' | translate }}</th>
            <th scope="col">{{ 'table.date' | translate }}</th>
            <th scope="col">{{ 'table.status' | translate }}</th>
            <th scope="col">{{ 'table.total' | translate }}</th>
            <th scope="col">{{ 'table.action' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of orders">
            <td><a (click)="showOrderDetails(item)" href="javascript:void(0)">#{{item.id}}</a></td>
            <td>{{item.created_at | date}}</td>
            <td>{{item.status}}</td>
            <td>{{item.total | currency:item.currency}}</td>
            <td><button (click)="showOrderDetails(item)" class="btn btn-sm btn-primary">{{ 'btn.view' | translate }}</button></td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </section>
</ng-container>


<!-- order details view -->
<ng-container *ngIf="activateOrderDetailsView && selectedOrder">

  <div class="custom-breadcrumb">
    <a href="javascript:void(0)" (click)="resetSeletedOrder()">
      <span class="pr-3">
        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M6 1.50221L4.61382 0L0 5L4.61382 10L6 8.49779L2.77237 5L6 1.50221Z" fill="#949494" />
        </svg>
        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M6 1.50221L4.61382 0L0 5L4.61382 10L6 8.49779L2.77237 5L6 1.50221Z" fill="#949494" />
        </svg>
      </span>{{ 'cmn.overview' | translate }}
    </a>
  </div>
  <section class="p-5 w-75">
    <p class="mb-4">
      Gestión <mark>{{selectedOrder.id}}</mark> solicitada el <mark>{{selectedOrder.created_at | date:'medium'}}</mark> actualmente En Proceso.
    </p>
    <div class="card consultax mb-4">
      <div class="card-body p-0">
        <div class="card-title d-flex bg-primary text-white justify-content-between align-items-center">
          <h5 class="">{{ 'userOrder.od' | translate }}</h5>
        </div>
        <div class="card-text">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">{{ 'table.product' | translate }}</th>
                <th scope="col">{{ 'table.total' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of selectedOrder.line_items">
                <td>
                  <a href="javascript:void(0)">{{item.name}}</a> x
                  <strong>{{item.quantity}}</strong>
                </td>
                <td>{{item.price | currency:selectedOrder.currency}}</td>
              </tr>
              <tr>
                <td><strong>Subtotal:</strong></td>
                <td>{{selectedOrder.subtotal | currency:selectedOrder.currency}}</td>
              </tr>
              <tr>
                <td><strong>Payment method:</strong></td>
                <td>{{selectedOrder.payment_details.method_title}}</td>
              </tr>
              <tr>
                <td><strong>Total:</strong></td>
                <td>{{selectedOrder.total | currency:selectedOrder.currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card consultax">
      <div class="card-body p-0">
        <div class="card-title d-flex bg-primary text-white justify-content-between align-items-center">
          <h5 class="">{{ 'userAccount.ba' | translate }}</h5>
        </div>
        <address class="card-text" *ngIf="selectedOrder.billing_address">
          {{selectedOrder.billing_address.company}}<br>
          {{selectedOrder.billing_address.address_1}}<br>
          {{selectedOrder.billing_address.address_2}}<br>
          {{selectedOrder.billing_address.city}} {{selectedOrder.billing_address.postcode}}<br>
          {{selectedOrder.billing_address.formated_state}} {{selectedOrder.billing_address.formated_country}}<br>
          {{selectedOrder.billing_address.phone}}<br>
          {{selectedOrder.billing_address.email}}<br>
        </address>
      </div>
    </div>
  </section>
</ng-container>
