<section class="d-flex h-100 subRightsec flex-column p-5">
  <div class="lead">Overview</div>
  <div class="form-group custom">
    <input class="form-control" placeholder="Search for users..." type="search" name="searchString" [(ngModel)]="searchString" />
  </div>

  <!-- tabs -->
  <ngb-tabset id="adminTabs">
    <ngb-tab title="All">
      <ng-template ngbTabContent>
        <app-loader-small [status]="gettingUsersInProgress$ | async"></app-loader-small>
        <div class="d-flex flex-row flex-wrap adminDbshCardWrp">
          <ng-container *ngFor="let user of allUsers$ | async | myFilter : 'name' : searchString; let i=index">
            <app-user-card [user]="user"></app-user-card>
          </ng-container>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Online">
      <ng-template ngbTabContent>
        <div class="d-flex flex-row flex-wrap adminDbshCardWrp">
          <ng-container *ngIf="!onlineUsers$ || (onlineUsers$ | async).length === 0">
            <p class="lead pt-5 text-center w-100">No Users</p>
          </ng-container>
          <ng-container *ngFor="let user of onlineUsers$ | async | myFilter : 'name' : searchString; let i=index">
            <app-user-card [user]="user"></app-user-card>
          </ng-container>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Offline">
      <ng-template ngbTabContent>
        <div class="d-flex flex-row flex-wrap adminDbshCardWrp">
          <ng-container *ngIf="!offlineUsers$ || (offlineUsers$ | async).length === 0">
            <p class="lead pt-5 text-center w-100">No Users</p>
          </ng-container>
          <ng-container *ngFor="let user of offlineUsers$ | async | myFilter : 'name' : searchString; let i=index">
            <app-user-card [user]="user"></app-user-card>
          </ng-container>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <!-- end tabs -->
</section>
