<section class="d-flex h-100 subRightsec flex-column p-5">
  <div class="lead">{{ 'cmn.overview' | translate }}</div>

  <div class="d-flex flex-row">

    <div class="form-group customSelect form-inline mr-5">
      <label class="mr-1">Ordenado por:</label>
      <select class="form-control" name="sort" id="sort" [(ngModel)]="sortBy">
        <option [value]="'displayName'">Nombre</option>
        <option [value]="'createdDate'">Creado por</option>
      </select>
    </div>

    <div class="form-group custom flex-grow-1">
      <input class="form-control" placeholder="{{ 'placeholder.users' | translate }}" type="search" name="searchString" [(ngModel)]="searchString" />
    </div>
  </div>

  <!-- tabs -->
  <ngb-tabset id="adminTabs">
    <ngb-tab title="{{ 'cmn.all' | translate }}">
      <ng-template ngbTabContent>
        <app-loader-small [status]="gettingUsersInProgress$ | async"></app-loader-small>
        <div class="d-flex flex-row flex-wrap adminDbshCardWrp">
          <ng-container *ngFor="let user of allUsers$ | async | mySort : 'asc' : sortBy | myFilter : 'name' : searchString; let i=index">
            <app-user-card [user]="user"></app-user-card>
          </ng-container>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="{{ 'cmn.online' | translate }}">
      <ng-template ngbTabContent>
        <div class="d-flex flex-row flex-wrap adminDbshCardWrp">
          <ng-container *ngIf="!onlineUsers$ || (onlineUsers$ | async).length === 0">
            <p class="lead pt-5 text-center w-100">{{ 'cmn.noUsers' | translate }}</p>
          </ng-container>
          <ng-container *ngFor="let user of onlineUsers$ | async | mySort : 'asc' : sortBy | myFilter : 'name' : searchString; let i=index">
            <app-user-card [user]="user"></app-user-card>
          </ng-container>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="{{ 'cmn.offline' | translate }}">
      <ng-template ngbTabContent>
        <div class="d-flex flex-row flex-wrap adminDbshCardWrp">
          <ng-container *ngIf="!offlineUsers$ || (offlineUsers$ | async).length === 0">
            <p class="lead pt-5 text-center w-100">{{ 'cmn.noUsers' | translate }}</p>
          </ng-container>
          <ng-container *ngFor="let user of offlineUsers$ | async | mySort : 'asc' : sortBy | myFilter : 'name' : searchString; let i=index">
            <app-user-card [user]="user"></app-user-card>
          </ng-container>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <!-- end tabs -->
</section>
