:host{
  display: block;
  flex-grow: 1;
  .subRightsec {
    .lead {
      font-size: 0.938em;
      font-weight: bold;
      padding-bottom: .5rem;
    }
    #adminTabs {
      padding-top: 0.5rem;
    }
  }
  .adminDbshCardWrp app-user-card{
    margin-top: 1.5rem;
    margin-right: 2.5rem;
  }
}
