<p class="lead text-primary">Welcome to you Client Area<p>
<section class="dashCards d-flex">
  <div class="card mr-4">
      <figure class="figure text-center pt-4 mb-0">
          <img src="./assets/images/checklist.png" class="figure-img img-fluid" alt="...">
        </figure>
    <div class="card-body text-center">
      <h5 class="card-title text-primary">Recent Orders</h5>
      <p class="card-text">You can view your recent orders.</p>
      <a routerLink="/user/orders" class="btn btn-primary rounded-0 w-100">Click Here</a>
    </div>
  </div>

  <div class="card mr-4">
    <figure class="figure text-center pt-4 mb-0">
      <img src="./assets/images/location.png" class="figure-img img-fluid" alt="...">
    </figure>
    <div class="card-body text-center">
      <h5 class="card-title text-primary">Manage Addresses</h5>
      <p class="card-text">Manage your shipping and billing addresses.</p>
      <a routerLink="/user/address" class="btn btn-primary rounded-0 w-100">Click Here</a>
    </div>
  </div>

  <div class="card mr-4">
      <figure class="figure text-center pt-4 mb-0">
          <img src="./assets/images/password-encryption.png" class="figure-img img-fluid" alt="...">
        </figure>
    <div class="card-body text-center">
      <h5 class="card-title text-primary">Your Password</h5>
      <p class="card-text">Edit your password and account details.</p>
      <a routerLink="/user/account-details" class="btn btn-primary rounded-0 w-100">Click Here</a>
    </div>
  </div>
</section>
