<div class="mydashboard-hello"><h3>{{ 'userDashboard.wlcMsg' | translate }} <strong *ngIf="userData">{{userData.first_name}} {{userData.last_name}}</strong></h3></div>


<section class="d-flex">

  <div class="three-box">
    <h3 class="recent-icon">{{ 'userDashboard.ra' | translate }}</h3>
    <p>{{ 'userDashboard.raHead' | translate }}</p>
    <a routerLink="/user/orders" class="button">{{ 'btn.ch' | translate }}</a>
  </div>

  <div class="three-box">
    <h3 class="address-icon">{{ 'userDashboard.ma' | translate }}</h3>
    <p>{{ 'userDashboard.maHead' | translate }}</p>
    <a routerLink="/user/address" class="button">{{ 'btn.ch' | translate }}</a>
  </div>

  <div class="three-box last">
    <h3 class="password-icon">{{ 'userDashboard.yp' | translate }}</h3>
    <p>{{ 'userDashboard.ypHead' | translate }}</p>
    <a routerLink="/user/account-details" class="button">{{ 'btn.ch' | translate }}</a>
  </div>

</section>
