<nav class="woocommerce-MyAccount-navigation">
  <ul>
    <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard">
      <a routerLinkActive="active" routerLink="dashboard">{{ 'cmn.dashboard' | translate }}</a>
    </li>
    <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders">
      <a routerLinkActive="active" routerLink="orders">{{ 'cmn.orders' | translate }}</a>
    </li>
    <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account">
      <a routerLinkActive="active" routerLink="account-details">{{ 'cmn.accountDetails' | translate }}</a>
    </li>
    <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-address">
      <a routerLinkActive="active" routerLink="address">{{ 'cmn.address' | translate }}</a>
    </li>
    <!-- <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--payment-methods">
      <a href="">Payment methods</a>
    </li> -->
    <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--clientes">
      <a routerLinkActive="active" routerLink="shared-drive">{{ 'cmn.sharedDrive' | translate }}</a>
    </li>
    <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--customer-logout">
      <a href="javascript:void(0)" (click)="doLogout($event)">{{ 'cmn.logout' | translate }}</a>
    </li>
  </ul>
</nav>
