<section class="d-flex flex-column">
  <a class="nav-link" routerLinkActive="active" routerLink="dashboard">Dashboard</a>
  <a class="nav-link" routerLinkActive="active" routerLink="orders">Orders</a>
  <a class="nav-link" routerLinkActive="active" routerLink="shared-drive">Shared Drive</a>
  <a class="nav-link" routerLinkActive="active" routerLink="account-details">Account Details</a>
  <a class="nav-link" routerLinkActive="active" routerLink="address">Address</a>
  <a href="javascript:void(0)" (click)="doLogout($event)" class="btn btn-outline-danger">Logout</a>
</section>
