:host{
  display: block;
  background-color:#F4F4F4;
  width: 20.188em;
  .btn-outline-danger {
    width: 8em;
    margin-top: 1.5em;
    margin-left: 0.75rem;
    font-size: 1.125em;
    border-radius: inherit;
    font-weight: lighter;
    padding: 0;
  }
  .woocommerce-MyAccount-navigation{
    width: 100%;
  }
}

