:host{
  display: block;
  background-color:#fff;
  main {
    padding-top: 125px;
    background-color: white;
    position: relative;
  }
  #mainTitleWrap {
    margin-bottom: 50px;
    height: 116px;
    background-color: #F6F6F6;
    .entry-title.main_title {
      margin-bottom: 0;
      padding-top: 25px;
    }
    .breadcrumb{
      background-color: transparent;
      padding: 0;
      margin: 0;
    }
  }
  #leftSection{
    width: 320px;
  }
  #rightSection {
    width: calc(100vw - 320px);
    padding-left: 32px;
  }

}

