@import "./../../../../../styles/mixins";
:host {
  display: block;
  width: 100%;

  .commonPadLeft {

    #head {
      h2 {
        font-size: 1.250em;
        font-weight: bold;
        color: #949494;
        display: inline-block;
      }
    }


    app-folder-card{
      margin-bottom: 2rem;
      margin-right: 2rem;
      display: inline-block;
    }

    #mainContent .card {
      border: none;
      display: inline-block;
    }


    .card-body {
      width: 16.438em;
      height: 6.813em;
      background: #005073;
      border-bottom: 1px solid #E0E0E0;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      color: #fff;
      cursor: pointer;

      .tdEllipsisIcon {
        a {
          &:after {
            display: none;
          }
        }
      }

      button.btn.btn-light {
        padding: 0 0.55em 0.1em;
      }

      h5 {
        padding-top: 0.75em;
      }
    }

    .card-body-sec {
      @include generateCardBodyStyle();
    }

    .btn-primary.btn-sm {
      width: 8.313em;
      font-size: 0.938em;
    }

  }

}
