<ng-container *ngIf="isChildRouteActivated">
  <router-outlet></router-outlet>
</ng-container>

<ng-container *ngIf="!isChildRouteActivated">

  <section class="commonPadLeft p-5">

    <section id="head" class="d-flex pb-3 justify-content-between">
      <h2>Shared Drive</h2>
      <app-upload-file-button></app-upload-file-button>
    </section>


    <section id="mainContent">
      <div class="card">
        <div class="card-body">
          <button type="button" class="btn btn-light">
            <ng-container *ngTemplateOutlet="userIconTemp"></ng-container>
          </button>
          <h5>
            <a class="text-white" routerLink="drive/myfiles">My Files</a>
          </h5>
        </div>
      </div>
    </section>

    <app-loader-small [status]="gettingFoldersInProgress$ | async"></app-loader-small>

    <ng-container *ngIf="(foldersList$ | async).length">

      <section id="head" class="pt-5">
        <h2>Folders</h2>
      </section>

      <section id="mainContent">
        <div class="card" *ngFor="let item of (foldersList$ | async)">
          <div class="card-body-sec">
            <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-light">
                <ng-container *ngTemplateOutlet="fileIconTemp"></ng-container>
              </button>
              <ng-container *ngTemplateOutlet="ellipTemp; context: {color: 'blue', item: item}"></ng-container>
            </div>
            <h5>
              <a routerLink="drive/{{item}}">{{item}}</a>
            </h5>
          </div>
        </div>
        <!-- end loop -->
      </section>
    </ng-container>

  </section>

  <ng-template #userIconTemp>
    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M9.40525 3.56549C9.40525 5.22304 8.02445 6.57239 6.32653 6.57239C4.62939 6.57239 3.24782 5.22304 3.24782 3.56549C3.24782 1.90794 4.62862 0.558594 6.32653 0.558594C8.02445 0.558594 9.40525 1.90794 9.40525 3.56549ZM0.169098 11.8345C0.169098 9.17861 2.70134 7.32411 6.32653 7.32411C9.95249 7.32411 12.484 9.17861 12.484 11.8345V12.5862H0.169098V11.8345Z"
        fill="#005073" />
    </svg>
  </ng-template>

  <ng-template #fileIconTemp>
    <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.763184 2.45783H1.99429V10.6679H10.7622V11.8207H1.99429C1.65398 11.8207 1.36372 11.7082 1.12351 11.4833C0.88329 11.2584 0.763184 10.9866 0.763184 10.6679V2.45783ZM6.39324 5.97242L4.51656 8.30611H12.0233L9.50104 5.39603L7.65438 7.56102L6.39324 5.97242ZM13.2544 8.30611C13.2544 8.62477 13.1343 8.90124 12.8941 9.13555C12.6539 9.36986 12.3636 9.48701 12.0233 9.48701H4.51656C4.17625 9.48701 3.88099 9.36986 3.63076 9.13555C3.38054 8.90124 3.25542 8.62477 3.25542 8.30611V1.27693C3.25542 0.958273 3.38054 0.686481 3.63076 0.461546C3.88099 0.236611 4.17625 0.124146 4.51656 0.124146H12.0233C12.3636 0.124146 12.6539 0.236611 12.8941 0.461546C13.1343 0.686481 13.2544 0.958273 13.2544 1.27693V8.30611Z" fill="#005073"/>
      </svg>
    </ng-template>

  <ng-template #ellipTemp let-color="color" let-item="item">
    <div ngbDropdown class="tdEllipsisIcon w-auto" placement="bottom-left">
      <a ngbDropdownToggle href="javascript:void(0);" class="card-dot ellpDots {{color}}">
        <svg width="5" height="4" viewBox="0 0 5 4" fill="none" xmlns="http://www.w3.org/2000/svg">
          <ellipse cx="2.52478" cy="1.92069" rx="1.9242" ry="1.87931" fill="none" />
        </svg>
        <svg width="5" height="4" viewBox="0 0 5 4" fill="none" xmlns="http://www.w3.org/2000/svg">
          <ellipse cx="2.52478" cy="1.92069" rx="1.9242" ry="1.87931" fill="none" />
        </svg>
        <svg width="5" height="4" viewBox="0 0 5 4" fill="none" xmlns="http://www.w3.org/2000/svg">
          <ellipse cx="2.52478" cy="1.92069" rx="1.9242" ry="1.87931" fill="none" />
        </svg>
      </a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="downloadFolder(item)"><span class="drop-icon pr-2"><svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M-1.09278e-06 12.5L11.64 12.5L11.64 14.18L-1.23965e-06 14.18L-1.09278e-06 12.5ZM8.32 7.27357e-07L8.32 5L11.64 5L5.82 10.82L-4.37114e-07 5L3.32 5L3.32 2.90244e-07L8.32 7.27357e-07Z" fill="#C4C4C4" /></svg></span>Download</button>
        <button ngbDropdownItem  (click)="deleteFolder(item)"><span class="drop-icon pr-2"><svg width="17" height="18" viewBox="0 0 17 18"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M11.125 0.75V2.5H16.375V4.25H0.625V2.5H5.875V0.75H11.125ZM2.375 15.625C2.375 16.5901 3.15987 17.375 4.125 17.375H12.875C13.8401 17.375 14.625 16.5901 14.625 15.625V5.125H2.375V15.625ZM4.125 6.875H12.875L12.8759 15.625H4.125V6.875ZM5.875 8.625H7.625V13.875H5.875V8.625ZM11.125 8.625H9.375V13.875H11.125V8.625Z"
                fill="#C4C4C4" />
            </svg></span>Delete</button>
      </div>
    </div>
  </ng-template>


</ng-container>
