<ng-container *ngIf="isChildRouteActivated">
  <router-outlet></router-outlet>
</ng-container>

<ng-container *ngIf="!isChildRouteActivated">

  <section class="commonPadLeft">

    <section id="head" class="d-flex pb-3 justify-content-between">
      <h2>{{ 'cmn.sharedDrive' | translate }}</h2>
      <app-upload-file-button></app-upload-file-button>
    </section>


    <section id="mainContent">
      <div class="card">
        <div class="card-body" routerLink="myfiles">
          <button type="button" class="btn btn-light">
            <ng-container *ngTemplateOutlet="userIconTemp"></ng-container>
          </button>
          <h5>
            <a class="text-white" href="javascript:void(0)">{{ 'cmn.myFiles' | translate }}</a>
          </h5>
        </div>
      </div>
    </section>

    <app-loader-small [status]="gettingFoldersInProgress$ | async"></app-loader-small>

    <ng-container *ngIf="(foldersList$ | async).length">

      <section id="head" class="pt-5">
        <h2>{{ 'cmn.folders' | translate }}</h2>
      </section>

      <section class="d-flex flex-wrap" *ngIf="userData">
        <app-folder-card [item]="item" [id]="userData.id" [key]="userData.user_email" *ngFor="let item of foldersList$ | async  | mySort : 'asc' : 'name'"></app-folder-card>
      </section>
    </ng-container>

  </section>

  <ng-template #userIconTemp>
    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M9.40525 3.56549C9.40525 5.22304 8.02445 6.57239 6.32653 6.57239C4.62939 6.57239 3.24782 5.22304 3.24782 3.56549C3.24782 1.90794 4.62862 0.558594 6.32653 0.558594C8.02445 0.558594 9.40525 1.90794 9.40525 3.56549ZM0.169098 11.8345C0.169098 9.17861 2.70134 7.32411 6.32653 7.32411C9.95249 7.32411 12.484 9.17861 12.484 11.8345V12.5862H0.169098V11.8345Z"
        fill="#005073" />
    </svg>
  </ng-template>
</ng-container>
