:host{
  display: block;
  flex-grow: 1;
  width: 100%;
  .fldrWrap{
    .card{
      margin-bottom: 2rem;
      margin-right: 2rem;
    }
  }
  // bread crumb
  .breadcrumb {
    padding: 0;
    position: relative;
    .breadcrumb-item {
      font-size: 1.250em;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
    .childBread {
      font-weight: 300;
      &:before {
        content: "|";
        color: #005073;
      }
    }
    .settingIcon {
      position: absolute;
      right: 4px;
      button {
        background: transparent;
        padding: 0;
        line-height: 0;
        border: none;
        &:focus {
          outline: none;
        }
      }
    }
  }

  // card
  .card-body-sec {
    width: 15rem;
    height: 7rem;
    padding: 1rem 1.25rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    button.btn.btn-light {
      padding: 0 0.55em 0.1em;
    }

    h5 {
      padding-top: 0.5em;
      margin-bottom: 0;
      color: #005073;
    }
    .downText {
      font-size: 0.625em;
    }
  }
}
