<!-- <div class="custom-breadcrumb" *ngIf="showBreadCrumb">
  <a href="javascript:void(0)" (click)="goBack($event)">
    <span class="pr-3">
      <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M6 1.50221L4.61382 0L0 5L4.61382 10L6 8.49779L2.77237 5L6 1.50221Z" fill="#949494" />
      </svg>
      <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M6 1.50221L4.61382 0L0 5L4.61382 10L6 8.49779L2.77237 5L6 1.50221Z" fill="#949494" />
      </svg>
    </span>
    {{ 'cmn.overview' | translate }}
  </a>
</div> -->
<nav aria-label="breadcrumb" *ngIf="showBreadCrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/user/shared-drive']">Overview</a></li>
    <li
    [ngClass]="{'active': last}"
    (click)="navigateTo(item)"
    class="breadcrumb-item"
    *ngFor="let item of breadCrumbData; let first = first; let last = last">
      <ng-container *ngIf="last">{{item.value}}</ng-container>
      <ng-container *ngIf="!last"><a href="javascript:void(0)">{{item.value}}</a></ng-container>
    </li>
  </ol>
</nav>

<section class="commonPadLeft pt-4">

  <section id="sharedMainhead">
    <div class="justify-content-between d-flex mb-3" *ngIf="activeFolderName === 'myfiles'">
      <p class="text-capitalize lead">
        <ng-container>Mis archivos</ng-container>
      </p>
    </div>

    <div class="justify-content-between d-flex mb-3 flexColumnOnMobile">
      <div class="form-group custom flex-grow-1">
        <input class="form-control" placeholder="{{ 'placeholder.file' | translate }}" type="search" name="searchString" [(ngModel)]="searchString" />
      </div>
      <div class="sideButton  ml-4">
        <app-upload-file-button [uploadPath]="uploadPath"></app-upload-file-button>
      </div>
    </div>

    <!-- folders list -->
    <section class="d-flex flex-wrap mb-2" *ngIf="!maxLimitReached && activeFolderData && activeFolderData.childrens && activeFolderData.childrens.length && userData">
      <app-folder-card [hasPower]="false" [item]="item" [id]="userData.id" [key]="userData.user_email" *ngFor="let item of activeFolderData.childrens"></app-folder-card>
    </section>

    <app-file-list-view [hasPower]="false" [activeUser]="activeUser" [userId]="activeUserId" [searchString]="searchString" [fileList]="filesList$ | async"></app-file-list-view>

  </section>

</section>
