<ng-container *ngIf="activeUser">
  <section class="pl-5 pb-5 pr-5 d-flex w-100 flex-column applyMobileStyles">
    <section class="d-flex flex-wrap fldrWrap" *ngIf="!maxLimitReached">

      <ng-container *ngIf="(foldersList$ | async) && (foldersList$ | async).length === 0">
        <p class="lead pt-5">{{ 'table.noFolderMsg' | translate }}</p>
      </ng-container>

      <app-folder-card
      [activePath]="activePath"
      [item]="item" [id]="activeUser.id" [key]="activeUser.email" *ngFor="let item of foldersList$ | async"></app-folder-card>
    </section>
    <!-- end folders -->

    <!-- table start -->
    <section class="d-flex w-100 flex-column">
      <app-file-list-view [activeUser]="activeUser" [userId]="activeUser.id" [searchString]="searchString" [fileList]="filesList$ | async"></app-file-list-view>
    </section>
    <!-- end table -->
  </section>
</ng-container>
