:host{
  display: block;
  width: 100%;
  padding: 2.938rem 4rem 0;

  .dashCards {
    .card {
      border: none;
      box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.08);
      border-radius: 2px;
      width: 17rem;
    }
  }
}


