/* You can add global styles to this file, and also import other style files */
@import "./styles/variables";
// @import "./mixins";
// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";

//
@import "~ngx-toastr/toastr.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

// :root {
//   --gray-bg: #f6f7f8;
// }
*{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  color: #195073 !important;
  text-decoration: none;
}

body {
  font-variant-ligatures: common-ligatures;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  // user-select: none;
  font-display: swap; // Basically FOUT
  overflow: auto;
  font-size: 16px;
}

/* Placeholder */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999;;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999;;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999;;
}
.cp{
  cursor: pointer;
}
h5, .h5{
  font-size: 1em;
}
#et-secondary-nav li ul, #top-header{
  background-color: $primary !important;
}

// small loader
.loading_wrap {
  position: relative;
  min-height: 200px;
  width: 100%;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}
.loading-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #3498db;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #c0392b;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #f1c40f;
  animation-delay: 0.18s;
}
.loading-bar:nth-child(4) {
  background-color: #27ae60;
  animation-delay: 0.27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
.alert-success{
  word-break: break-all;
}
.form-group.customSelect{
  .form-control {
    background-color: #F1F1F1;
    border-color:#ced4da;
  }
}
// common search bar
.form-group.custom {
  position: relative;
  .form-control {
    background-color: #F1F1F1;
    padding-left: 3rem;
  }
  &:before {
    position: absolute;
    content: "";
    left: 2.2%;
    top: 31%;
    width: 1rem;
    height: 1rem;
    background: url('./assets/images/search.svg') no-repeat;
    background-size: cover;
    background-position: center;
  }
}

// override table
.table .thead-dark.bg-primary th {
  background-color: $primary;
  border-color: $primary;
}
th[sortable]{
  cursor: pointer;
}
th[sortable].asc:before, th[sortable].desc:before {
  content: "";
  display: block;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC) no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: left;
  margin-left: -22px;
}
th[sortable].desc:before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
// override card
.consultax {
  .card-body{
    padding: 0;
  }
  .card-title{
    padding: 1rem 2rem;
    margin: 0;
    h5{
      margin: 0;
      color: white;
    }
  }
  .card-text{
    padding: 2rem;
  }
}
nav.woocommerce-MyAccount-navigation li a.active{
  color: #fff !important;
  background-color: #195073 !important;
}
// bread crumb styles
.custom-breadcrumb {
  padding: 0;
  margin-bottom: 1rem;
  a {
    color: #949494;
  }
  a:hover {
    color: #005073;
    text-decoration: none;
  }
}

// ellipsis icon on card
.ellpDots.dropdown-toggle::after{
  display: none;
}
.ellpDots svg ellipse {
  fill: #fff;
}
.ellpDots.blue svg ellipse {
  fill: #005073;
}

// universal dialog Styles
// warning and normal
.customPrimary {
  .modal-dialog {
    transform: translate(0, 50px) !important;
    .modal-content {
      border: none;
      border-radius: 0;
      .modal-header {
        border-radius: 0;
        display: flex;
        align-items: center;
        #modal-primary-title {
          font-size: 0.938em;
          line-height: 1.25rem;
        }
        .close {
          padding: 0rem 0.5rem 0.3rem;
          margin: 0 0 0 auto;
          border: 1px solid #fff;
          border-radius: 3px;
        }
        .close:focus {
          outline: none;
        }
      }
      .modal-body {
        p {
          font-size: 1.065em;
        }
        .browseFile {
          border: 1px solid #005073;
          width: 10.313em;
          height: 32px;
          border-radius: 2em;
          position: relative;
          z-index: 2;
        }
        .successMessage {
          margin: 1rem 0;
          border-radius: 0;
        }
      }
    }
  }
}

.customWarning{
  .modal-content {
    border: none;
    border-radius: 0;

    .modal-header {
      border-radius: 0;
      display: flex;
      align-items: center;
      #modal-basic-title {
        font-size: 0.938em;
        line-height: 1.25rem;
        .popupTopIcon {
            padding-right: 15px;
        }
      }

      .close {
        padding: 0rem 0.5rem 0.3rem;
        margin: 0 0 0 auto;
        border: 1px solid #fff;
        border-radius: 3px;
      }
      .close:focus {
        outline: none;
      }
    }
    .modal-body {
      p {
        font-size: 1.065em;
      }
      .file_name {
        h5 {
          font-size: 1.065em;
          font-weight: bold;
        }
      }
    }
    .modal-footer {
      button {
        font-size: 1.065em;
        font-weight: bold;
      }
      a.noCancel {
        font-size: 0.813em;
        color: #979797;
        padding: 0.5rem;
        text-decoration: underline;
      }
    }
  }
}

#adminTabs {
  .nav-tabs {
    border: none;
    .nav-item {
      .nav-link {
        font-size: 0.938em;
        color: #727272 !important;
        background: #C4C4C4;
        padding: 0;
        height: 24px;
        line-height: 24px;
        text-align: center;
        width: 144px;
        margin: 0 .5rem;
        border-top-left-radius: .5rem !important;
        border-top-right-radius: .5rem !important;
        &.active, &:hover {
          border-color: transparent;
          color: #fff !important;
          font-weight: bold;
          background: #005073;
        }
      }
    }
  }
}

// Admin model Dialog Style
.adminPrimary {
  .modal-dialog {
    transform: translate(0, 50px) !important;
    .modal-content {
      border: none;
      border-radius: 0;
      .modal-header {
        border-radius: 0;
        display: flex;
        align-items: center;
        #modal-primary-title {
          font-size: 0.938em;
          line-height: 1.25rem;
        }
        .close {
          padding: 0rem 0.5rem 0.3rem;
          margin: 0 0 0 auto;
          border: 1px solid #fff;
          border-radius: 3px;
        }
        .close:focus {
          outline: none;
        }
      }
      .modal-body {
        p {
          font-size: 1.065em;
        }
        .popInput {
          position: relative;
          .exName {
            border: 1px solid $border-color;
          }
          &:before {
            position: absolute;
            content: "";
            left: 4%;
            width: 0.8rem;
            height: 0.8rem;
            top: 38%;
            background: url('./assets/images/menu.svg') no-repeat;
            background-size: cover;
            background-position: center;
          }
        }
        .folderOption {
          display: block;
          border: 1px solid #E0E0E0;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 5px;
          padding: .4rem 1rem;
          text-decoration: none;
          cursor: pointer;
          &:hover, &:focus, &:active {
            background: #005073;
            color: white;
          }
          button {
            border: none;
            background: #EFEFEF;
            padding: 0;
            line-height: 0;
            width: 1.5rem;
            height: 1.375rem;
            border-radius: 5px;
          }
        }
      }
      .modal-footer {
        button {
          font-size: 1.065em;
          font-weight: bold;
        }
      }
    }
  }
}
// conditional structure
.__adminPage {
  #sharedMainhead {
    table thead tr th {
      color: #949494;
    }
  }
  #rightSection {
    .commonPadLeft {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}
.adminDbshCardWrp{
  .card-body-sec {
    height: 7rem !important;
  }
}

// handle override
input[type=email].form-control,
input[type=password].form-control,
input[type=tel].form-control,
input[type=text].form-control,
select.form-control,
textarea.form-control{
  color: #a2a2a2 !important;
  padding: 0.438rem 0.75rem !important;
  border: 1px solid #ced4da !important;
}
.et_fixed_nav #main-header, .et_fixed_nav #top-header{
  z-index: 3 !important;
}
body .woocommerce-MyAccount-content table thead tr{
  background-color: $primary !important;
  th {
    color: white;
  }
}
#sharedMainhead {
  table thead tr th {
    color: white;
  }
}
#leftSection{
  position: relative;
}


// media queries
@include media-breakpoint-up(sm) {
  #bottomNav{
    position: absolute;
    bottom: 0;
  }
  #leftSectionOnlyMobile{
    display: none !important;
  }
  .flexColumnOnMobile{
    flex-direction: row !important;
  }
}
// @include media-breakpoint-down(sm)
@media screen and (max-width: 768px) {
  #leftSection{
    display: none !important;
  }
  #leftSectionOnlyMobile{
    display: block !important;
  }
  .custom-breadcrumb{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  #rightSection {
    > .px-5,
    .commonPadLeft {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
  }
  .flexColumnOnMobile{
    flex-direction: column !important;
    position: relative !important;
    &.form-group.custom:before{
      top: 16px;
    }
    .ml-3{
      margin-top: 15px;
      margin-left: 0 !important;
    }
  }
  .sideButton{
    margin-left: 0 !important;
    width: 100% !important;
  }
  .navbar.navbar-dark.bg-primary {
    .nav-link {
      &.active{padding-left:1rem};
      &:before, &:after { display: none !important;}
    }
  }
  .removeBorderOnMobile{
    border:0 !important;
  }
  .subRightsec.p-5, .applyMobileStyles.p-5{
    padding: 1rem !important;
  }
  .adminDbshCardWrp {
    app-user-card {
      display: block;
      width: 100% !important;
      margin-right: 0 !important;
      .card-body-sec {
        width: 100% !important;
      }
    }
  }
  .fldrWrap {
    app-folder-card {
      display: block;
      width: 100% !important;
      margin-right: 0 !important;
      .card-body-sec {
        width: 100% !important;
      }
    }
  }
  .tableWrap {
    width: 100%;
    overflow: auto;
    .table {
      width: 700px;
    }
  }
}

#footer-widgets .footer-widget li a{
  color:#fff !important
}

@media (min-width: 981px) {
  .et_pb_gutters3.et_pb_footer_columns4 .footer-widget .fwidget {
    margin-bottom: 0 !important;
  }
}
.top_footer .footer-widget div#custom_html-2{
  padding-left: 13px !important;
}
