<button id="btn200" type="button" class="btn btn-primary" (click)="openDialog(content)">
  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M11.25 1.41671L0.0950013 1.41671L0.0950015 0.0167075L11.25 0.0167084L11.25 1.41671ZM3.27667 11.8334L3.27667 7.66671L0.0950007 7.66671L5.6725 2.81671L11.25 7.66671L8.06833 7.66671L8.06833 11.8334L3.27667 11.8334Z"
      fill="white" /></svg> {{ 'btn.uf' | translate }}
</button>


<ng-template #content let-modal>
  <div class="modal-header bg-primary text-white">
    <p class="modal-title" id="modal-primary-title">{{ 'upload.heading' | translate }}</p>
    <button type="button" class="close text-white" aria-label="Close" (click)="dismissModal('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <ng-container *ngIf="uploadFileError">
      <ngb-alert [type]="'danger'" [dismissible]="true">
        {{uploadErrorMsg}}
      </ngb-alert>
    </ng-container>

    <ng-container>

      <div class="form-group" *ngIf="!files || files && files.length === 0">
        <label>
          {{ 'upload.file' | translate }} <sup class="text-danger"> *</sup>
        </label>
        <div id="fileWrapper">
          <!--  image/png, image/jpg -->
          <input id="fileInpt" multiple class="form-control" type="file" name="file" (change)="onfileInputChange($event)"
          accept="text/plain,application/vnd.ms-powerpoint, application/msword,image/gif,image/jpeg,application/pdf,image/png,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.doc,.jpeg,.jpg,.pdf,.png,.xls,.xlsx" />
          <button type="button" (click)="triggerUploadFile($event)" class="browseFile cp btn-block"><span class="browseIcon pr-2"><svg width="12" height="15"
            viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M-1.09278e-06 12.5L11.64 12.5L11.64 14.18L-1.23965e-06 14.18L-1.09278e-06 12.5ZM8.32 7.27357e-07L8.32 5L11.64 5L5.82 10.82L-4.37114e-07 5L3.32 5L3.32 2.90244e-07L8.32 7.27357e-07Z"
              fill="#005073" />
          </svg></span>{{ 'upload.browseFileTxt' | translate }}
          </button>
        </div>
        <small id="fileInptHelp" class="form-text text-muted font-italic">{{ 'upload.allowedFiles' | translate }}</small>
      </div>
      <!-- <span class="ml-3">{{form.get('file').value}}</span> -->
      <ng-container *ngIf="errFiles">
        <div class="form-group" *ngFor="let item of errFiles; let i=index">
          <ngb-alert [type]="'danger'" [dismissible]="false">
            {{item.msg}}
          </ngb-alert>
        </div>
      </ng-container>

      <div class="form-group" *ngFor="let item of files; let i=index">
        <label class="mb-1" *ngIf="!item.isUploadingFinished">{{ 'table.name' | translate }}: {{item.name}}</label>
        <ng-container *ngIf="!item.inProgress">
          <br>
          <label>{{ 'upload.note' | translate }}</label>
          <input [(ngModel)]="item.note" name="note" class="form-control" placeholder="{{ 'upload.notePlaceholder' | translate }}" />
          <small class="form-text text-danger">
            <a href="javascript:void(0)" (click)="removeFile(i)">Remover archivo</a>
          </small>
        </ng-container>
        <ng-container *ngIf="item.inProgress && !item.isUploadingFinished">
          <div>
            <ngb-progressbar type="success" [value]="item.progress | async" [striped]="true" [animated]="true"><i>{{item.progress | async}}%</i></ngb-progressbar>
          </div>
        </ng-container>
        <ng-container *ngIf="item.inProgress && item.isUploadingFinished">
          <small class="form-text text-success">
            {{item.uploadMsg}}
          </small>
        </ng-container>
        <ng-container *ngIf="item.inProgress && item.uploadFileError">
          <small class="form-text text-danger">
            {{item.uploadErrorMsg}}
          </small>
        </ng-container>
      </div>
    </ng-container>

    <div>
      <ng-container *ngIf="uploadFileSuccess">
        <button (click)="dismissModal('Cross click')" class="btn btn-dark btn-block">{{ 'btn.close' | translate }}</button>
      </ng-container>
      <ng-container *ngIf="!uploadFileSuccess">
        <button (click)="uploadFileProcessStart($event)" [disabled]="uploadFileProgress" class="btn bg-dark btn-block text-white">
          <span *ngIf="uploadFileProgress" class="spinner-border spinner-border-sm mr-1"></span>
          {{ 'btn.uf' | translate }}
        </button>
      </ng-container>
    </div>

  </div>
</ng-template>
